# Xcode
build/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcworkspace/
.DS_Store

# Пользовательские папки, которые не должны попадать в репозиторий
ComicReader/Comics/
ComicReader/Assets.xcassets/Comics/